* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: rgb(206, 205, 205);
}

/* CNN Navbar */
nav {
  height: 60px;
  background: black;
  display: flex;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 50px;
  margin-top: 3px;
  margin-left: 30px;
  height: 55px;
}

.leftNav {
  display: flex;
  align-items: center;
}

.navList {
  margin-left: 20px;
  list-style: none;
}

.navItem {
  display: inline-block;
  margin-left: 5px;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: large;
}

.navLink:hover {
  color: red;
}

.rightNav {
  padding-right: 30px;
  display: flex;
}

.rightLink {
  margin-right: 20px;
  font-size: large;
}

.navIcon {
  margin-left: 20px;
  font-size: larger;
}

.iconLink:hover {
  color: red;
}

.iconLink {
  color: white;
  text-decoration: none;
}

/* CNN Navbar End */

/* BBC Navbar Start */
.mainNav {
  padding: 0px 20px;
}

.logo_container {
  /* margin-left: 20px; */
  display: flex;
  align-items: center;
}

.bbc_logo {
  margin-right: 10px;
  width: 100px;
  height: 100%;
}

.ver_link {
  border-left: 1px solid gray;
  height: 55px;
}

.nav_link_list {
  display: flex;
}

.bbc_navItem {
  display: inline-block;
  padding: 18px 25px;
}

.bbc_search {
  display: flex;
  align-items: center;
}

.search_bbc {
  margin-left: 20px;
  height: 30px;
  padding: 0px 8px;
  width: 220px;
}

/* BBC Navbar End */

/* Linkdin NavBar Start */
.linkdn_nav {
  height: 55px;
  background-color: white;
}

.logo_linkdin {
  width: 40px;
  height: 40px;
  margin-top: 4px;
  margin-left: 30px;
}

.search_container {
  margin-left: 10px;
}

.linkdin_search {
  height: 40px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  background-color: rgb(238, 238, 238);
  width: 300px;
}

.linkedin_icon {
  font-size: x-large;
  color: gray;
  margin-right: 20px;
}

.linkedin_icon:hover {
  color: black;
}

.ver_linkedin {
  border: 1px solid rgb(201, 198, 198);
  height: 55px;
  margin-right: 15px;
}



.bage {
  padding: 1px 5px;

  border-radius: 50%;
  font-size: small;
  color: white;
  background-color: red;
}

/* Linkdin Navbar End */

/* Insta Navbar Start */
.insta_nav {
  height: 55px;
  background-color: white;
}

.logo_insta {
  width: 100px;
  height: 52px;
  margin-left: 20px;
  margin-top: 5px;
}

.search_insta {
  background-color: rgb(247, 246, 246);
  border: 1px solid rgb(189, 187, 187);
  margin-left: 20px;
  height: 30px;
  border-radius: 4px;
  padding: 0px 8px;
  width: 220px;
}

.insta_icon {
  font-size: x-large;
  color: gray;
  margin-right: 20px;
}

.insta_icon:hover {
  color: #000;

  border-bottom: 1px solid red;
}

.search_insta::placeholder {
  text-align: center;
}

/* Insta Navbar End */

/* Youtbe Navbar Start */

.youtbe_nav {
  height: 55px;
  background-color: white;
}

.logo_tube {
  width: 100px;
  height: 20px;
  margin-right: 40px;
}

.youtube_icon {
  color: gray;
  margin-left: 40px;
  margin-right: 30px;
}

.search_button {
  text-align: center;
  width: 60px;
  padding: 6px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;

}

.search_button:hover {
  background-color: #dad8d8;
}

.youtbe {
  display: flex;
  width: fit-content;
}

.youtbe_search {
  margin-left: 20px;
  height: 30px;
  width: 400px;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px 0 0 4px;
}

.youtbe_icon_link {
  font-size: x-large;
  color: gray;
  margin-right: 20px;
}

.youtbe_icon_link:hover {
  color: black;
}

/* Youtbe Navar End */

/* Gmail Navbar Start */
.gmail_nav {
  height: 55px;
  background-color: white;
}

.gmail_iconList {
  color: gray;
  margin-left: 40px;
  margin-right: 30px;
}

.gmail_logo {
  height: 30px;
}

.search_container_gmail {
  margin-left: 10px;
}

.gmail_icon {
  color: gray;
  margin-left: 40px;
  margin-right: 30px;
}

.gmail_search {
  height: 40px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  background-color: rgb(238, 238, 238);
  width: 500px;
}

.gmail_icon_link {
  font-size: larger;

  color: gray;
  margin-right: 20px;
}

.gmail_icon_link:hover {
  color: black;
}

/* Gmail Navbar End */

/* Bootstrap Navbar */

.bootstrap_nav {
  height: 60px;
  background: #7952b3;
  display: flex;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

.link_button {
  margin-left: 10px;
  text-decoration: none;
  color: yellow;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid yellow;
}

.link_button:hover {
  color: #000;
  background-color: yellow;
  border-color: black;
}

.Boot_logo {
  border-radius: 10px;
  height: 45px;
  width: 50px;
  margin-left: 30px;
}

.Boot_navList {
  margin-left: 20px;
  list-style: none;
}

.Boot_navItem {
  display: inline-block;
  margin-left: 5px;
}

.Boot_navLink {
  color: white;
  text-decoration: none;
  font-size: large;
}

.Boot_navLink:hover {
  color: black;
}

.Boot_iconLink:hover {
  color: black;
}

.Boot_iconLink {
  color: white;
  text-decoration: none;
}

/* Bootstrap Navbar End */

/* Medium Navbar End */

.logo_medium {
  width: 100px;
  height: 50px;
  margin-left: 50px;
}

.medium_icon {
  font-size: larger;
  color: gray;
  margin-right: 20px;
}

.medium_icon:hover {
  color: black;
}

/* Medium Navbar End */


/* Facebook Navbar start */

.logo_face {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

.face_icon {
  font-size: large;
  color: gray;

}

.face_icon_list {
  display: flex;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.circle-button {
  width: 35px;
  height: 35px;
  background: #e4e6eb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
}

.face_icon {
  color: black;
}

.circle-button:hover {
  background-color: #c5c5c7;
}

.face_nav_icon:hover,
.face_nav_icon:active {
  color: #584cff;
}

.nav-icon {
  margin: 0 10px;
  padding: 10px 20px;
  position: relative;
  margin-right: 50px;

  cursor: pointer;
}

.nav-icon:hover,
.nav-icon.active {
  color: #584cff;
  border-bottom: 3px solid #584cff;
}


.badge {
  position: absolute;
  top: 2px;
  right: 2px;
  background: red;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 1px 4px;
  border-radius: 12px;
}

.face_nav {
  height: 55px;
  background-color: white;
}

/* Facebook Navbar End */